* {
	color: white;
	font-size: 18px;
}
body {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
}
#main_content {
}
#wrap {
	margin: 0;
	width: 100%;
}
a:focus,
a:hover {
	text-decoration: none !important;
}

/*common*/
body h2 {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}
div.row {
	margin-left: 0;
	margin-right: 0;
}

/*inner*/
.inner {
	max-width: 700px;
	margin: 0 auto;
	padding: 60px 0;
}
.inner_l {
	max-width: 1100px;
	margin: 0 auto;
	padding: 60px 0;
}

/*background*/
.back_img {
	background-image: url("../images/000125.png");
	background-size: cover;
	background-position: top;
	height: 100vh;
	width: 100vw;
}
#back {
	z-index: -10;
	position: fixed;
	top: 0;
	left: 0;
}
#back_top {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	height: 50px;
}
#back_bottom {
	overflow: hidden;
	position: fixed;
	left: 0;
	z-index: 10;
	height: 50px;
	bottom: 0 !important;
}
#back_bottom .back_img {
	margin-top:calc(-100vh + 50px);
}

/*post*/
.post_box .post:first-child {
	border-top: solid 2px rgba(255, 255, 255, 0.3);
}
.post {
	border-bottom: solid 2px rgba(255, 255, 255, 0.3);
	padding: 15px 0;
}
.post p {
	margin: 0;
}
div.post_date {
	margin: 0;
	padding: 0;
}
.post_year {
	font-size: 15px;
	text-align: center;
	margin: 0;
}
.post_md {
	font-size: 23px;
	text-align: center;
}
.post_category {
	text-align: center;
	font-size: 13px;
	border: solid 1px white;
	border-radius: 15px;
	margin: 0 auto !important;
	max-width: 66px;
}
.post_content {
	width: 100px;
	font-weight: 15px;
}
.post_title {
	font-size: 22px;
}
.post_text p {
	color: rgba(255, 255, 255, 0.5);	
}
.post_text p img {
	height: 100px;
	width: auto;
	margin: 0 5px;
}
.post_select {
	text-align: center;
	padding: 30px 0;
	margin: 0 20px;
}
.post_select p {
	text-align: center;
	border: solid 1px white;
	border-radius: 20px;
	padding: 5px;
	margin: 0;
}
.post_select p:hover {
	background-color: rgba(255,255,255,0.1);
	border-color: rgba(255,255,255,0.6);
}
.post_select .post_selected p {
	background-color: white;
	color: #4c90a5;
}

/*header*/
nav.navbar-default {
	background-color: transparent;
}
nav.navbar-default .navbar-nav>li>a {
	color: white;
	font-size: 18px;
	padding-left: 30px;
	padding-right: 30px;
}
nav.navbar-default,
nav.navbar-default .navbar-collapse {
	border: none;
}
button.navbar-toggle,
button.navbar-toggle:focus {
	background-color: transparent !important;
}
button.navbar-toggle:hover {
	background-color: rgba(1,1,1,0.1) !important;
}
ul.navbar-right {
	margin-right: 30px;
}
nav.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white !important;
}
.nav_location::after {
    content: "";
    position: absolute;
    left: 20%;
    right: 0;
    bottom: 8px;
    width: 60%;
    height: 1.5px;
    background-color: white;
}

/*footer*/ /*button_next*/
footer {
	z-index: 20;
	width: 100%;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	font-size: 15px;
	padding-bottom: 15px;
}

/*top*/
#top_title {
	text-align: center;
	font-weight: bold;
	font-size: 54px;
	padding: 100px 0;
	padding-bottom: 20px;
	margin: auto 0;
}
#top_title_ruby {
	text-align: center;
	font-style: italic;
}
#top_text {
	padding-top: 50px;
}

/*activity*/
#activity_box {
	height: calc(100vh - 250px);
	overflow: hidden;
}
#activity_box>div {
	height: calc(100vh - 250px);
	width: calc(100% + 30px);
	overflow-y: scroll;
}
#activity_box a .post {
	border-top: none;
}
#activity_box a:first-child .post {
	border-top: solid 2px rgba(255, 255, 255, 0.3);
}

/*research*/
#research_box {
	margin: 10px auto;
	padding: 40px 0;
}
#research_box>div {
	margin-bottom: 30px;
}
#research_image img {
	width: 100%;
	height: auto;
}

/*finding*/
.finding_year {
    color: rgba(255, 255, 255, 0.5);
    font-size: 30px;
}
#finding .post_md {
    font-size: 30px;
}
.finding_post_text p {
    color: rgba(255, 255, 255, 0.5);
	font-size: 20px;
    line-height: 20px;
}
.finding_post_text p:first-letter {
    color: rgba(255, 255, 255, 0.5);
	font-size: 25px;
}

/*member*/
#member_select {
	height: auto;
}
#member_margin {
	height: 400px;
}
#member_box .post {
	padding: 8px 0;
}
.member_position {
	margin-bottom: 0;
	padding-bottom: 6px;
	border-bottom: solid 2px rgba(255, 255, 255, 0.3);
	font-size: 35px;
	color: rgba(255, 255, 255, 0.5);
}
.member_image {
	margin-top: 5px;
	width: 80px;
	height: 80px;
	overflow: hidden;
}
.member_image img {
	border-radius: 40px;
	width: 80px;
	height: auto;
}
.member_attachment {
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
	margin-top: 4px !important;
	margin-bottom: -4px !important;
}
.member_name {
	font-size: 28px;
	font-weight: bold;
}
.member_name:first-letter {
	font-size: 36px;
}
.member_work {
	color: rgba(255, 255, 255, 0.7);
	line-height: 20px;	
}

/*link*/
.link_sec {
	margin-top: 30px;
}
.link_content {
	text-align: center;
	border: solid 1px white;
	border-radius: 20px;
	padding: 15px;
}
.link_title {
	text-align: center;
	color: white;
}
.link_title:first-letter {
	font-size: 24px;
}
.link_image {
	display:table-cell;
	vertical-align: middle;
	text-align: center;
	width: 800px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
}
.link_image p {
}
.link_image img {
	max-height: 80px;
	max-width: 100%;
	width: auto;
	height: auto;
}
.link_content:hover {
	background-color: rgba(255,255,255,0.9);
}
.link_content:hover p {
	color: #4c90a5;
}

@media screen and (max-width: 1199px) {
	nav.navbar-default .navbar-nav>li>a {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media screen and (max-width: 991px) {
	h1 {
    	font-size: 36px !important;
	}
	#research_image {
		text-align: center;
		height: auto;
	}
	#research_image img {
		max-width: 600px;
		height: auto;
	}
	nav.navbar-default .navbar-nav>li>a {
		font-size: 16px;
		padding-left: 15px;
		padding-right: 15px;
	}
	ul.navbar-right {
 		margin-right: 20px;
	}
}

@media screen and (max-width: 767px) {
	.nav_location::after {
		display: none;
	}
}